body {
    margin: 0;
}

.nav {
    height: 70px;
    /* display: flex;
    justify-content: center; */
    max-width: 1000px;
    margin: auto;
    position: absolute;
    right: 0;

}

.nav .logo img {
    width: 100px;
}

.nav .navButton a {
    text-decoration: solid;
    padding-left: 10px;
    padding-right: 10px;
    color: darkcyan;
}

/* 백그라운드 배경 및 메인 화면 */
.header {
    background: url(../images/bgsample.PNG);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .title {
    text-align: center;
}

/* .header .title img {
    width: 300px;
} */

.header .title h1 {
    font-size: 40px;
    color: aquamarine;
    letter-spacing: 0.2em;
    margin-bottom: 0;
}

.header .title p {
    margin-top: 0;
    margin-bottom: 30px;
    color: rgb(230, 183, 124);
    text-decoration: solid;
}

